{% extends 'base/base.html' %}

{% block title %}Bienvenido a la Aplicación de Control Médico{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            {% if user.is_authenticated %}
                <h1 class="display-4">¡Bienvenido {{ user.username }} a la Aplicación de Control Médico!</h1>
                <a href="{% url 'home:logout' %}" class="btn btn-link">Cerrar sesión</a>
            {% else %}
                <h1 class="display-4">¡Bienvenido a la Aplicación de Control Médico!</h1>
                <a href="{% url 'home:login' %}" class="btn btn-link">Iniciar sesión</a>
            {% endif %}
            <p class="lead">Tu solución confiable para gestionar registros médicos y de pacientes.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p>¿Listo para acceder a tu cuenta?</p>
        </div>
    </div>
</div>
{% endblock content %}
