{% extends 'base/base.html' %}

{% block title %}Bienvenido a la Aplicación de Control Médico{% endblock title %}

{% block content %}
  <form action="" method="post" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      <a href="{% url 'login' %}" class="btn btn-warning">Cancelar</a>
  </form>
{% endblock content %}
