{% extends 'base/base.html' %}

{% block title %}Bienvenido a la Aplicación de Control Médico{% endblock title %}

{% block content %}
<form action = "" method="post" class="form">
    {% csrf_token%}
    {{form}}
    <button type = "submit" class="btn btn-primary">logout</button>
    <a href="{% url 'logout' %}" class "btn btn-warning">Cancel</a>
</form>
{% endblock content %}
