{% extends 'base/base.html' %}

{% block content %}
    <h1>Registrar Médico</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>
{% endblock %}
