{% extends "base/base.html" %}

{% block title %}
  Eliminar suministro
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar el suministro '{{ suministro.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_suministro' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}