{% extends "base/base.html" %}

{% block title %}
  Eliminar consulta
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la consulta '{{ consulta.id }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_consulta' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
