{% extends "base/base.html" %}

{% block title %}
  Eliminar AlergiaEmpleado
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la AlergiaEmpleado '{{ alergiaempleado.alergia.nombre }}' asociada al empleado '{{ alergiaempleado.empleado.nombrePila }} {{ alergiaempleado.empleado.apPat }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_alergiaempleado' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
