{% extends "base/base.html" %}

{% block title %}
  Eliminar MediEfecSecu
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la relación entre el medicamento '{{ medi_efec_secu.medicamento.nombre }}' y los efectos secundarios '{{ medi_efec_secu.efectosSecundarios.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_medi_efec_secu' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
