{% extends "base/base.html" %}

{% block title %}
  Eliminar MedicamentoConsulta
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la relación entre el medicamento '{{ medicamento_consulta.medicamento.nombre }}' y la consulta '{{ medicamento_consulta.consulta.fecha }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_medicamento_consulta' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
