{% extends "base/base.html" %}

{% block title %}
  Eliminar Forma de Administración
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la Forma de Administración '{{ forma_administracion.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_forma_administracion' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
