{% extends "base/base.html" %}

{% block title %}
  Detalles del Efecto Secundario
{% endblock title %}

{% block content %}
  <h2>{{ efectos_secundarios.nombre }}</h2>
  <p>Este es el Efecto Secundario '{{ efectos_secundarios.nombre }}' y su descripción es: '{{ efectos_secundarios.descripcion }}'.</p>
  <a href="{% url 'core:list_efectos_secundarios' %}" class="btn btn-secondary">Volver a la lista de Efectos Secundarios</a>
{% endblock content %}
