{% extends "base/base.html" %}

{% block title %}
  Detalles de la Forma de Administración
{% endblock title %}

{% block content %}
  <h2>{{ forma_administracion.nombre }}</h2>
  <p>Esta es la Forma de Administración '{{ forma_administracion.nombre }}' y su descripción es: '{{ forma_administracion.descripcion }}'.</p>
  <a href="{% url 'core:list_forma_administracion' %}" class="btn btn-secondary">Volver a la lista de Formas de Administración</a>
{% endblock content %}
