{% extends "base/base.html" %}

{% block title %}
  Detalles del médico
{% endblock title %}

{% block content %}
  <h2>ID: {{ medico.nombrePila }}</h2>
  <p>Este es el médico '{{ medico.nombrePila }}' cuya cédula es '{{ medico.cedula }}'.</p>
  <a href="{% url 'core:list_medico' %}" class="btn btn-secondary">Volver a la lista de médicos</a>
{% endblock content %}
