{% extends "base/base.html" %}

{% block title %}
  Detalles de MedicamentoConsulta
{% endblock title %}

{% block content %}
  <h2>{{ medicamento_consulta.id }}</h2>
  <p>Esta es la relación entre el medicamento '{{ medicamento_consulta.medicamento.nombre }}' y la consulta '{{ medicamento_consulta.consulta.fecha }}' con una cantidad de '{{ medicamento_consulta.cantidad }}'.</p>
  <a href="{% url 'core:list_medicamento_consulta' %}" class="btn btn-secondary">Volver a la lista de MedicamentoConsulta</a>
{% endblock content %}
