{% extends "base/base.html" %}

{% block title %}
  Detalles del departamento
{% endblock title %}

{% block content %}
  <h2>{{ departamento.nombre }}</h2>
  <p>Este es el departamento '{{ departamento.nombre }}' su descripcion es: '{{ departamento.descripcion}}'.</p>
  <a href="{% url 'core:list_departamento' %}" class="btn btn-secondary">Volver a la lista de Departamentos</a>
{% endblock content %}
