{% extends "base/base.html" %}

{% block title %}
  Detalles de AlergiaEmpleado {{ alergiaempleado.id }}
{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-header bg-info text-white">
        <h2>Detalles de AlergiaEmpleado {{ alergiaempleado.id }}</h2>
      </div>
      <div class="card-body">
        <p class="lead">
          Esta es la alergia '{{ alergiaempleado.alergia.nombre }}' asociada al empleado '{{ alergiaempleado.empleado.nombrePila }} {{ alergiaempleado.empleado.apPat }}'.
        </p>

        <div class="mt-3">
          <a href="{% url 'core:list_alergiaempleado' %}" class="btn btn-secondary">Volver a la lista de AlergiaEmpleado</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
