{% extends "base/base.html" %}

{% block title %}
  Lista de suministros
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Stock</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_suministro' %}" class="btn btn-success">Crear suministro</a>
      {% for suministro in Suministros %}
        <tr>
          <td>{{ suministro.id }}</td>
          <td>{{ suministro.nombre }}</td>
          <td>{{ suministro.descripcion }}</td>
          <td>{{ suministro.stock }}</td>
          <td>
            <a href="{% url 'core:detail_suministro' suministro.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_suministro' suministro.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_suministro' suministro.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}