{% extends "base/base.html" %}

{% block title %}
  Lista de MediContras
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Medicamento</th>
      <th>Contraindicación</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_medi_contra' %}" class="btn btn-success">Crear MediContra</a>
      {% for medi_contra in MediContras %}
        <tr>
          <td>{{ medi_contra.id }}</td>
          <td>{{ medi_contra.medicamento.nombre }}</td>
          <td>{{ medi_contra.contraindicaciones.nombre }}</td>
          <td>{{ medi_contra.contraindicaciones.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_medi_contra' medi_contra.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_medi_contra' medi_contra.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_medi_contra' medi_contra.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
