{% extends "base/base.html" %}

{% block title %}
  Lista de Alergias
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_alergia' %}" class="btn btn-success">Crear alergia</a>
      {% for alergia in Alergias %}
        <tr>
          <td>{{ alergia.id }}</td>
          <td>{{ alergia.nombre }}</td>
          <td>{{ alergia.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_alergia' alergia.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_alergia' alergia.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_alergia' alergia.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
