{% extends "base/base.html" %}

{% block title %}
  Lista de Contraindicaciones
{% endblock title %}

{% block content %}
  <a href="{% url 'core:create_contraindicacion' %}" class="btn btn-success">Crear Contraindicación</a>
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {% for contraindicacion in Contraindicaciones %}
        <tr>
          <td>{{ contraindicacion.id }}</td>
          <td>{{ contraindicacion.nombre }}</td>
          <td>{{ contraindicacion.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_contraindicacion' contraindicacion.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_contraindicacion' contraindicacion.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_contraindicacion' contraindicacion.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
