{% extends "base/base.html" %}

{% block title %}
  Lista de MediFormaAdmis
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Medicamento</th>
      <th>Forma de Administración</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_medi_forma_admi' %}" class="btn btn-success">Crear MediFormaAdmi</a>
      {% for medi_forma_admi in MediFormaAdmis %}
        <tr>
          <td>{{ medi_forma_admi.id }}</td>
          <td>{{ medi_forma_admi.medicamento.nombre }}</td>
          <td>{{ medi_forma_admi.formaAdministracion.nombre }}</td>
          <td>{{ medi_forma_admi.formaAdministracion.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_medi_forma_admi' medi_forma_admi.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_medi_forma_admi' medi_forma_admi.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_medi_forma_admi' medi_forma_admi.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
