{% extends "base/base.html" %}

{% block title %}
  Lista de MedicamentoConsultas
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Medicamento</th>
      <th>Consulta</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_medicamento_consulta' %}" class="btn btn-success">Crear MedicamentoConsulta</a>
      {% for medicamento_consulta in MedicamentoConsultas %}
        <tr>
          <td>{{ medicamento_consulta.id }}</td>
          <td>{{ medicamento_consulta.medicamento.nombre }}</td>
          <td>{{ medicamento_consulta.consulta.id }}</td>
          <td>{{ medicamento_consulta.cantidad }}</td>
          <td>
            <a href="{% url 'core:detail_medicamento_consulta' medicamento_consulta.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_medicamento_consulta' medicamento_consulta.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_medicamento_consulta' medicamento_consulta.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
