{% extends "base/base.html" %}

{% block title %}
  Lista de Formas de Administración
{% endblock title %}

{% block content %}
  <a href="{% url 'core:create_forma_administracion' %}" class="btn btn-success">Crear Forma de Administración</a>
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {% for forma_administracion in FormasAdministracion %}
        <tr>
          <td>{{ forma_administracion.id }}</td>
          <td>{{ forma_administracion.nombre }}</td>
          <td>{{ forma_administracion.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_forma_administracion' forma_administracion.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_forma_administracion' forma_administracion.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_forma_administracion' forma_administracion.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
