{% extends "base/base.html" %}

{% block title %}
  Lista de Consultas
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Fecha</th>
      <th>Edad</th>
      <th>Motivo</th>
      <th>Síntomas</th>
      <th>Peso</th>
      <th>Altura</th>
      <th>Diagnóstico</th>
      <th>Empleado</th>
      <th>Médico</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_consulta' %}" class="btn btn-success">Crear Consulta</a>
      {% for consulta in Consultas %}
        <tr>
          <td>{{ consulta.id }}</td>
          <td>{{ consulta.fecha }}</td>
          <td>{{ consulta.edad }}</td>
          <td>{{ consulta.motivo }}</td>
          <td>{{ consulta.sintomas }}</td>
          <td>{{ consulta.peso }}</td>
          <td>{{ consulta.altura }}</td>
          <td>{{ consulta.diagnostico }}</td>
          <td>{{ consulta.empleado.nombrePila }}</td>
          <td>{{ consulta.medico.nombrePila }}</td>
          <td>
            <a href="{% url 'core:detail_consulta' consulta.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_consulta' consulta.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_consulta' consulta.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
