{% extends "base/base.html" %}

{% block title %}
  Lista de MediEfecSecus
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Medicamento</th>
      <th>Efectos Secundarios</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_medi_efec_secu' %}" class="btn btn-success">Crear MediEfecSecu</a>
      {% for medi_efec_secu in MediEfecSecus %}
        <tr>
          <td>{{ medi_efec_secu.id }}</td>
          <td>{{ medi_efec_secu.medicamento.nombre }}</td>
          <td>{{ medi_efec_secu.efectosSecundarios.nombre }}</td>
          <td>{{ medi_efec_secu.efectosSecundarios.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_medi_efec_secu' medi_efec_secu.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_medi_efec_secu' medi_efec_secu.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_medi_efec_secu' medi_efec_secu.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
