{% extends "base/base.html" %}

{% block title %}
  Lista de Medicamentos
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Dosis</th>
      <th>Stock</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_medicamento' %}" class="btn btn-success">Crear Medicamento</a>
      {% for medicamento in Medicamentos %}
        <tr>
          <td>{{ medicamento.id }}</td>
          <td>{{ medicamento.nombre }}</td>
          <td>{{ medicamento.descripcion }}</td>
          <td>{{ medicamento.dosis }}</td>
          <td>{{ medicamento.stock }}</td>
          <td>
            <a href="{% url 'core:detail_medicamento' medicamento.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_medicamento' medicamento.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_medicamento' medicamento.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
