{% extends "base/base.html" %}

{% block title %}
  Lista de Efectos Secundarios
{% endblock title %}

{% block content %}
  <a href="{% url 'core:create_efectos_secundarios' %}" class="btn btn-success">Crear Efecto Secundario</a>
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {% for efectos_secundarios in EfectosSecundarios %}
        <tr>
          <td>{{ efectos_secundarios.id }}</td>
          <td>{{ efectos_secundarios.nombre }}</td>
          <td>{{ efectos_secundarios.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_efectos_secundarios' efectos_secundarios.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_efectos_secundarios' efectos_secundarios.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_efectos_secundarios' efectos_secundarios.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
