{% extends "base/base.html" %}

{% block title %}
  Lista de AlergiasEmpleado
{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <form method="get" action="{% url 'core:list_alergiaempleado' %}" class="mb-3">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Número de Empleado">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
        </form>
      </div>
      <div class="col-md-6 text-right">
        <a href="{% url 'core:create_alergiaempleado' %}" class="btn btn-success">Crear AlergiaEmpleado</a>
      </div>
    </div>

    <table class="table table-hover mt-3">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Alergia</th>
          <th>Empleado</th>
          <th>Numero de Empleado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for alergiaempleado in AlergiaEmpleados %}
          <tr>
            <td>{{ alergiaempleado.id }}</td>
            <td>{{ alergiaempleado.alergia.nombre }}</td>
            <td>{{ alergiaempleado.empleado.nombrePila }} {{ alergiaempleado.empleado.apPat }}</td>
            <td>{{ alergiaempleado.empleado.noempleado }} </td>
            <td>
              <a href="{% url 'core:detail_alergiaempleado' alergiaempleado.id %}" class="btn btn-info btn-sm">Detalles</a>
              <a href="{% url 'core:update_alergiaempleado' alergiaempleado.id %}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{% url 'core:delete_alergiaempleado' alergiaempleado.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
