{% extends "base/base.html" %}

{% block title %}
  Lista de SuministroConsultas
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Suministro</th>
      <th>Consulta</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_suministro_consulta' %}" class="btn btn-success">Crear SuministroConsulta</a>
      {% for suministro_consulta in SuministroConsultas %}
        <tr>
          <td>{{ suministro_consulta.id }}</td>
          <td>{{ suministro_consulta.suministro.nombre }}</td>
          <td>{{ suministro_consulta.consulta }}</td>
          <td>{{ suministro_consulta.cantidad }}</td>
          <td>
            <a href="{% url 'core:detail_suministro_consulta' suministro_consulta.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_suministro_consulta' suministro_consulta.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_suministro_consulta' suministro_consulta.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
