{% extends "base/base.html" %}

{% block title %}
  Lista de departamentos
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_departamento' %}" class="btn btn-success">Crear departamento</a>
      {% for departamento in Departamentos %}
        <tr>
          <td>{{ departamento.id }}</td>
          <td>{{ departamento.nombre }}</td>
          <td>{{ departamento.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_departamento' departamento.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_departamento' departamento.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_departamento' departamento.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
