{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- NAV BAR -->
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">CONTROL MEDICO</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item"> 
                            <a class="nav-link active" aria-current="page" href="{% url 'home:index' %}">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_puesto' %}">Puestos</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_empleado' %}">Empleados</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_alergia' %}">Alergias</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_departamento' %}">Departamento</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_medicamento' %}">Medicamento</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_suministro' %}">Suministros</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_medico' %}">Medicos</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_consulta' %}">Consultas</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_efectos_secundarios' %}">Efectos Secundarios</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_contraindicacion' %}">Contraindicaciones</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_forma_administracion' %}">Forma Administracion</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_alergiaempleado' %}">Alergias Empleados</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_medi_efec_secu' %}">Medicamentos Efectos Secundarios</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:list_medi_contra' %}">Medicamentos Contraindicaciones</a>
                          </li>
                            <a class="nav-link" href="{% url 'core:list_medi_forma_admi' %}">Medicamentos Forma Administracion</a>
                          </li>
                          </li>
                            <a class="nav-link" href="{% url 'core:list_suministro_consulta' %}">Suministro Consulta</a>
                          </li>
                          </li>
                          <a class="nav-link" href="{% url 'core:list_medicamento_consulta' %}">Medicamento Consulta</a>
                          </li>
                        </ul>
                        <form class="d-flex" role="search">
                          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class "col-8">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col">
                <footer class="text-center text-white" style="background-color: #f1f1f1;">
                    <!-- Grid container -->
                    <div class="container pt-4">
                      <!-- Section: Social media -->
                      <section class="mb-4">
                        <!-- Facebook -->
                        <a
                          class="btn btn-link btn-floating btn-lg text-dark m-1"
                          href="#!"
                          role="button"
                          data-mdb-ripple-color="dark"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                  
                        <!-- Twitter -->
                        <a
                          class="btn btn-link btn-floating btn-lg text-dark m-1"
                          href="#!"
                          role="button"
                          data-mdb-ripple-color="dark"
                          ><i class="fab fa-twitter"></i
                        ></a>

                        <i class="glyphicon glyphicon-cloud"></i>

                  
                        <!-- Google -->
                        <a
                          class="btn btn-link btn-floating btn-lg text-dark m-1"
                          href="#!"
                          role="button"
                          data-mdb-ripple-color="dark"
                          ><i class="fab fa-google"></i
                        ></a>
                  
                        <!-- Instagram -->
                        <a
                          class="btn btn-link btn-floating btn-lg text-dark m-1"
                          href="#!"
                          role="button"
                          data-mdb-ripple-color="dark"
                          ><i class="fab fa-instagram"></i
                        ></a>
                  
                        <!-- Linkedin -->
                        <a
                          class="btn btn-link btn-floating btn-lg text-dark m-1"
                          href="#!"
                          role="button"
                          data-mdb-ripple-color="dark"
                          ><i class="fab fa-linkedin"></i
                        ></a>
                        <!-- Github -->
                        <a
                          class="btn btn-link btn-floating btn-lg text-dark m-1"
                          href="#!"
                          role="button"
                          data-mdb-ripple-color="dark"
                          ><i class="fab fa-github"></i
                        ></a>
                      </section>
                      <!-- Section: Social media -->
                    </div>
                    <!-- Grid container -->
                  
                    <!-- Copyright -->
                    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                      © 2023 Copyright:
                      <a class="text-dark" href="Rodriguez Altamirano Christian Rodolfo">Rodriguez Altamirano Christian Rodolfo</a>
                    </div>
                    <!-- Copyright -->
                  </footer>
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
